@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Hero;
    src: url(../assets/fonts/Hero-New-Black.ttf) format("truetype");
}
    html {
  scroll-behavior: smooth;
}

